* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
}
.logo-container, .nav-links {
    display: flex;
}


.logo-container {
  background: lightblue;
  flex: 1;
}

.logo {

    font-weight: 400;
    margin: 5px;
}



nav {
background: lightgreen;
flex: 2;
}

.nav-links {
    justify-content: space-around;
    list-style: none;

}
.nav-link {
    color: #5f5f79;
    font-size: 18px;
    text-decoration: none;
}
.presentation {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}
.cover img {
    height: 60vh;
}